@model ASP.MVC_2017.Models.IndexViewModel

@{
    ViewBag.Title = "Index";
}
<link rel="stylesheet" type="text/css" href="~/Scripts/Collage/component.css" />
<link rel="stylesheet" type="text/css" href="~/Scripts/Collage/default.css" />
<div class="jumbotron">
    <form action="~/Home/SaveUploadedFile" method="post" enctype="multipart/form-data" class="dropzone" id="dropzoneForm">
        <div class="fallback">
            <input name="file" type="file" multiple />
            <input type="submit" value="Upload" />
        </div>
    </form>
</div>
<div id="imageList" class="jumbotron" style="width: 100%;">
    @*@using (Ajax.BeginForm("DragImagesNew", new AjaxOptions { UpdateTargetId = "results", LoadingElementId = "loading" }))
    {
        <input type="submit" id="qwer" value="Обновить" style="display: none;" />
    }*@
    <div id="loading" style="display: none;">
        <h3>Refresh...</h3>
    </div>
    <div id="results"></div>
</div>
    <h2>Пользователь @User.Identity.Name</h2>
    <table class="table table-striped">
        <tr>
            <td>Имя:</td>
            <td>@Html.DisplayFor(modelItem => Model.Name)</td>
        </tr>
        <tr>
            <td>Фамилия:</td>
            <td>@Html.DisplayFor(modelItem => Model.SurName)</td>
        </tr>
        <tr>
            <td>Email:</td>
            <td>@Html.DisplayFor(modelItem => Model.Email)</td>
        </tr>
        <tr>
            <td>Дата регистрации:</td>
            <td>@Html.DisplayFor(modelItem => Model.RegistrationDate)</td>
        </tr>
        <tr>
            <td>
                Количество созданных стен:
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.NumberOfWalls)
            </td>
        </tr>
        <tr>
            <td>
                Количество комментариев:
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.NumberOfComments)
            </td>
        </tr>
    </table>

    <br />
<style type="text/css">
    .dz-max-files-reached {
        background-color: red;
    }
</style>
@section scripts{
    <script type="text/javascript">
        $('#qwer').click();
        $('#qwerty').click(function () {
            console.log("delete1");
            $('#qwer').click();
            console.log("delete2");
        });
        function funcDelete() {
            console.log("delete2");
            setTimeout(function () { $('#qwer').click() }, 500);
        }
        //File Upload response from the server
        Dropzone.options.dropzoneForm = {
            maxFiles: 10,
            success: function(file, response) {
                $('#qwer').click();
            },
            init: function() {
                this.on("maxfilesexceeded", function(data) {
                    var res = eval('(' + data.xhr.responseText + ')');

                });
                this.on("addedfile", function(file) {

                    // Create the remove button
                    var removeButton = Dropzone.createElement("<button>Remove file</button>");


                    // Capture the Dropzone instance as closure.
                    var _this = this;

                    // Listen to the click event
                    removeButton.addEventListener("click", function(e) {
                        // Make sure the button click doesn't submit the form:
                        e.preventDefault();
                        e.stopPropagation();
                        // Remove the file preview.
                        _this.removeFile(file);
                        // If you want to the delete the file on the server as well,
                        // you can do the AJAX request here.
                    });

                    // Add the button to the file preview element.
                    file.previewElement.appendChild(removeButton);
                    //window.location.replace("/Home/UploadImage");
                });
            }
        };
    </script>
}