@using ASP.MVC_2017.Models.Entities
@model IEnumerable<Wall>
@{
    ViewBag.Title = "GetUserWalls";
}

<h2>Мои стены</h2>

<table border="1" width="100%" cellpadding="5">

    @foreach (var wall in Model)
            {
        <tr>
            <th>
                @Html.DisplayFor(w => wall.Title)<br>

                @Html.DisplayFor(w => wall.DateOfCreation)<br>
                @Html.DisplayFor(w => wall.User.UserName)<br>

                @Html.DisplayFor(w => wall.Text)
                <a id='delItem' data-item='@wall.Id' onclick='DeleteItem(this)' class="glyphicon glyphicon-trash" ></a>
            </th>
            @foreach (var comment in wall.Comments)
            {
            <tr>
                <th>
                    @Html.DisplayFor(c => comment.Value)<br>

                    @Html.DisplayFor(c => comment.Date)<br>
                    @Html.DisplayFor(c => comment.User.UserName)<br>
                </th>
            </tr>
            }
            </tr>
    }
</table>
@section scripts
{
    <script type="text/javascript">
 // Удаление книги
    function DeleteWall(id) {

        $.ajax({
            type: "POST",
            url: "/Wall/DeleteWall",
            data: { wallId: id },
            success: function (data) {
                location.reload();
            }
        })

    }
  
    // обработчик удаления
    function DeleteItem(el) {
        // получаем id удаляемого объекта
        var id = $(el).attr('data-item');
        console.log(id);
        DeleteWall(id);
    }
   
    </script>
}