@using ASP.MVC_2017.Models.Entities
@model IEnumerable<Wall>
@{
    ViewBag.Title = "GetUserWalls";
}

<h2>Мои стены</h2>

@foreach (var wall in Model)
{
      <div class="row">
            <div class="col-md-12 well">
                <a id='delItem' class="pull-right" data-item='@wall.Id' onclick='DeleteItem(this)'><span class="glyphicon glyphicon-trash"></span></a>
                <h4>
                    @Html.DisplayFor(w => wall.Title)
                    @Html.DisplayFor(w => wall.DateOfCreation)
                    @Html.DisplayFor(w => wall.User.UserName)
                </h4>

                <hr />
                <p>
                    @Html.DisplayFor(w => wall.Text) 
                </p>
                <div class="comments">
                    @foreach (var comment in wall.Comments)
                    {
                        <div>
                            <div class="comment">
                                <div class="comment-header">
                                    <strong>
                                        @Html.DisplayFor(c => comment.User.UserName)
                                    </strong>оставил комментарий
                                    <time class="pull-right timeago" datetime="@comment.Date.ToUniversalTime().ToString("yyyy-MM-ddTHH:mm:ssZ")"></time>
                                </div>
                                <div class="comment-body">
                                    @Html.DisplayFor(c => comment.Value)
                                </div>
                            </div>
                        </div>
                    }
                </div>

               
            </div>
        </div>
    }

@section scripts
{
    <script type="text/javascript">
 // Удаление книги
    function DeleteWall(id) {

        $.ajax({
            type: "POST",
            url: "/Wall/DeleteWall",
            data: { wallId: id },
            success: function (data) {
                location.reload();
            }
        })
    }
  
    // обработчик удаления
    function DeleteItem(el) {
        // получаем id удаляемого объекта
        var id = $(el).attr('data-item');
        console.log(id);
        DeleteWall(id);
    }

   
    </script>
}