@using ASP.MVC_2017.Models.Entities

@model IEnumerable<Wall> 
@{ 
    ViewBag.Title = "Стены";
}
<meta charset="utf-8" />
<h2> Стены </h2>
@foreach (var wall in Model)
{

    <div class="row">
        <div class="col-md-12 well">
            <p>
                <h3>@Html.DisplayFor(w => wall.Title)</h3>
                <h5>@Html.DisplayFor(w => wall.DateOfCreation)</h5>
            <h4>                 
                @Html.DisplayFor(w => wall.User.UserName)
            </h4>
            <hr>
            @Html.DisplayFor(w => wall.Text)
            <hr>
                </p>
        

            <div class="">
                <p>
                <div class="panel panel-primary">
                    <div class="page">
                         Количество комментариев: @Html.DisplayFor(w => wall.Comments.Count)
                        @Html.ActionLink("Перейти к комментариям", "Show", "Wall", new { id = wall.Id }, new { @class = "pull-right" })
                        
                    </div>
                </div>
                </p>
            </div>
        </div>
    </div>

}
